@keyframes wheel {
  to {
    opacity: 0;
    top: 50px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 50px;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
}

body {
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #1bcfed;
  border-radius: 25px;
}

html {
  scroll-behavior: smooth;
}

.trans {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .uk-modal-body {
  background-color: black !important;
  padding: 50px 20px !important;
  text-align: center;
}

.modal .uk-modal-body .times {
  font-size: 30px;
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
}

.modal .uk-modal-body img {
  width: 160px;
}

.modal .uk-modal-body ul {
  list-style: none;
  margin-top: 50px;
  margin-left: -30px;
  margin-bottom: 50px;
}

.modal .uk-modal-body ul li {
  margin: 15px 0;
}

.modal .uk-modal-body ul li a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}

.modal .uk-modal-body .soon {
  background-color: #ec0035;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: -35px;
}

.modal .uk-modal-body .soon:hover {
  opacity: 70%;
}

nav .uk-navbar-container {
  border-bottom: 5px solid #1bcfed;
  width: 100%;
  padding: 50px 20px 20px;
  background-color: black !important;
  -webkit-box-shadow: 0 0 25px rgba(27, 246, 246, 0.8);
          box-shadow: 0 0 25px rgba(27, 246, 246, 0.8);
}

nav .uk-navbar-container .uk-navbar-left a {
  text-decoration: none;
  margin-top: -16px;
}

nav .uk-navbar-container .uk-navbar-left h2 {
  font-weight: bolder;
}

nav .uk-navbar-container .uk-navbar-left img {
  width: 45px;
  margin-top: -6px;
}

nav .uk-navbar-container .uk-navbar-right a {
  text-decoration: none;
  color: #fff;
  border: 8px solid #ec0035;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: -35px;
  background-color: #ec0035;
}

nav .uk-navbar-container .uk-navbar-right a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 70%;
}

nav .uk-navbar-container .uk-navbar-right .mobile {
  display: none;
}

nav .uk-navbar-container ul {
  padding-top: 15px;
}

nav .uk-navbar-container ul li {
  display: inline;
}

nav .uk-navbar-container ul li span {
  margin: 15px;
}

nav .uk-navbar-container ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav .uk-navbar-container ul li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ec0035;
  font-size: 20px;
  font-weight: bold;
}

nav .uk-navbar-container ul li .active {
  color: #ec0035;
  font-size: 20px;
  font-weight: bold;
}

.section1 {
  width: 1500px;
  margin-top: 50px;
}

.section1 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1 .row .col1 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding-top: 80px;
  padding-left: 25px;
}

.section1 .row .col1 .cont {
  margin-top: 5vw;
}

.section1 .row .col1 .cont .line {
  font-weight: bold;
}

.section1 .row .col1 .cont .line span {
  border-bottom: 1px solid #fff;
  padding: 0 12px;
  margin: 0 5px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section1 .row .col1 .cont h1 {
  margin-top: -20px;
  font-size: 55px;
  font-weight: bolder;
  font-family: "Poppins";
}

@supports (-webkit-text-stroke: 1px #fff) {
  .section1 .row .col1 .cont h1 {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: #fff;
  }
}

.section1 .row .col1 .cont .para {
  margin-top: 40px;
  padding: 0 7.5vw;
  padding-left: 0;
}

.section1 .row .col1 .cont .para p {
  font-size: 18px;
}

.section1 .row .col1 .cont a {
  background-color: #1bcfed;
  position: relative;
  text-decoration: none;
  color: black;
  top: 40px;
  padding: 15px 35px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 25px rgba(27, 246, 246, 0.5);
          box-shadow: 0 0 25px rgba(27, 246, 246, 0.5);
}

.section1 .row .col1 .cont a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ec0035;
  color: #fff;
  -webkit-box-shadow: 0 0 25px #ec0035;
          box-shadow: 0 0 25px #ec0035;
}

.section1 .row .col2 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.section1 .row .col2 .x {
  position: relative;
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
}

.section1 .row .col2 .one,
.section1 .row .col2 .two,
.section1 .row .col2 .three {
  top: -420px;
  left: -50px;
  width: 180px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  z-index: 1;
}

.section1 .row .col2 .two {
  top: -300px;
  width: 330px;
  left: 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section1 .row .col2 .three {
  top: -800px;
  width: 130px;
  left: 50px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -340px;
}

.container .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
}

.container .field .mouse {
  width: 40px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 60px;
  position: relative;
}

.container .field .mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

.trailerCont {
  padding: 60px 20px;
}

.trailerCont .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  padding: 20px;
}

.trailerCont .row .col1 {
  padding: 10px;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.trailerCont .row .col1 video {
  width: 100%;
  height: 500px;
}

.trailerCont .row .col2 {
  padding: 10px;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.trailerCont .row .col2 img {
  width: 100px;
  margin-top: 60px;
}

.trailerCont .row .col2 h2 {
  color: #fff;
  margin-top: 25px;
}

.trailerCont .row .col2 .p {
  margin-top: -10px;
}

.trailerCont .row .col2 .fa-star {
  color: #f1c40f;
}

.trailerCont .row .col2 p {
  line-height: 28px;
}

.trailerCont .row .col2 a {
  text-decoration: none;
  color: #fff;
  padding: 15px 45px;
  padding-left: 0;
  position: relative;
  top: 25px;
  border-radius: 60px;
}

.trailerCont .row .col2 a:hover {
  color: #ec0035;
}

.trailerCont .row .col2 .a {
  background-color: #ec0035;
  padding-left: 35px;
  margin-left: 15px;
}

.trailerCont .row .col2 .a:hover {
  opacity: 70%;
  color: #fff;
}

.about {
  margin: 80px 0;
  padding: 120px 80px;
  background-image: url(../assets/logo.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  opacity: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.about .cont {
  background-color: #fff;
  padding: 80px 20px;
  width: 500px;
  border-radius: 12px;
  border: 2px solid #1bcfed;
  -webkit-box-shadow: 0 0 25px rgba(27, 246, 246, 0.8);
          box-shadow: 0 0 25px rgba(27, 246, 246, 0.8);
}

.about .cont h1 {
  color: #fff;
}

.about .cont p {
  color: #fff;
}

body:not(#aboutCont) #aboutCont {
  background-color: rgba(0, 0, 0, 0.2) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.sec3 .sec3Cont {
  text-align: center;
  margin-top: 50px;
  width: 1400px;
}

.sec3 .sec3Cont h1 {
  font-weight: bolder;
  font-family: "Poppins";
  opacity: 80%;
  color: #fff;
}

.sec3 .sec3Cont .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.sec3 .sec3Cont .row .col {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  margin: 0 1vw;
  margin-top: 30px;
  padding: 10px;
  color: #ffffff;
}

.sec3 .sec3Cont .row .col h2 {
  color: #ffffff;
  font-weight: bolder;
  font-size: 35px;
}

.sec3 .sec3Cont .row .col p {
  opacity: 80%;
}

.sec3 .sec3Cont .row .col img {
  width: 320px;
  -webkit-filter: drop-shadow(2px 4px 8px #430582);
          filter: drop-shadow(2px 4px 8px #430582);
}

.sec3 .sec3Cont .row .col a {
  color: #ffffff;
  text-decoration: underline;
}

body:not(#card) #card {
  background-color: rgba(0, 0, 0, 0.3) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.sec4 {
  margin-top: 5vw;
  padding: 100px 20px;
}

.sec4 .sec4Cont {
  width: 1100px;
  text-align: center;
}

.sec4 .sec4Cont h1 {
  font-weight: bolder;
  opacity: 80%;
  font-family: "Poppins";
  color: #fff;
  margin-bottom: 60px;
}

.sec4 .sec4Cont .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec4 .sec4Cont .row .col {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.sec4 .sec4Cont .row .col .rowInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec4 .sec4Cont .row .col .rowInner .colInner {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin: 0 2vw;
  padding: 1vw;
}

.sec4 .sec4Cont .row .col .rowInner .colInner img {
  padding: 10px 30px;
  border: 5px solid #1bcfed;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-box-shadow: 0 0 25px rgba(27, 246, 246, 0.8);
          box-shadow: 0 0 25px rgba(27, 246, 246, 0.8);
}

.sec4 .sec4Cont .row .col .rowInner .colInner img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sec4 .sec4Cont .row .col .rowInner .colInner h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins";
  opacity: 80%;
  color: #fff;
}

body:not(#badge) #badge {
  background-color: rgba(27, 246, 246, 0.3) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.sec5 {
  margin-top: 60px;
}

.sec5 .sec5Cont {
  text-align: center;
  margin: 0 20px;
  width: 1100px;
}

.sec5 .sec5Cont .text {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: -2vw;
  text-align: center;
}

.sec5 .sec5Cont .text li {
  margin: 0 8.3vw;
}

.sec5 .sec5Cont .text li h2 {
  font-weight: bold;
  opacity: 80%;
  color: #fff;
}

.sec5 .sec5Cont .text li p {
  opacity: 80%;
  color: #fff;
}

.sec5 .sec5Cont .text li:first-child {
  margin-left: 0 !important;
}

.sec5 .sec5Cont .text li:last-child {
  margin-right: 0 !important;
}

.sec5 .sec5Cont h1 {
  font-family: "Poppins";
  font-weight: bold;
  opacity: 80%;
  margin-bottom: 50px;
  color: #fff;
}

.sec5 .sec5Cont .line {
  border-top: 1px solid #bac2cc;
  text-align: center;
  width: 100%;
}

.sec5 .sec5Cont .line ul {
  list-style: none;
  margin-top: -18.3px;
  margin-left: -35px;
}

.sec5 .sec5Cont .line ul li {
  display: inline;
  margin: 0 8.8vw;
}

.sec5 .sec5Cont .line ul li:first-child {
  margin-left: -3px !important;
}

.sec5 .sec5Cont .line ul li:last-child {
  margin-right: -10px !important;
}

.sec5 .sec5Cont .line ul li span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
}

.sec5 .sec5Cont .line ul li .activee {
  background-color: black;
  border: 3px solid #ec0035;
}

.sec5 .sec5Cont .line ul li .activee:hover button {
  background-color: #ec0035;
}

.sec5 .sec5Cont .line ul li .activee button {
  background-color: #ec0035;
}

.sec5 .sec5Cont .line ul li button {
  padding: 5px;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: #bac2cc;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sec5 .sec5Cont .line ul li button:hover {
  background-color: #ec0035;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sec6 .sec6Cont {
  width: 1400px;
  margin: 0 20px;
  margin-top: 30px;
}

.sec6 .sec6Cont .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec6 .sec6Cont .row .col {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  margin: 0 2vw;
  padding: 80px 20px;
  padding-left: 10px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  background-image: url(../assets/card.jpg);
  background-position: center;
}

.sec6 .sec6Cont .row .col:first-child {
  margin-left: 0 !important;
}

.sec6 .sec6Cont .row .col:last-child {
  margin-right: 0 !important;
}

.sec6 .sec6Cont .row .col li {
  color: #fff;
  font-family: "Poppins";
  margin: 5px 0;
}

.sec7 {
  margin-top: 150px;
  padding: 120px 20px;
  background-image: url(../assets/logo.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
}

.sec7 .sec7Cont {
  width: 1400px;
}

.sec7 .sec7Cont .nomics {
  padding: 0 10vw;
  text-align: center;
}

.sec7 .sec7Cont .nomics h1 {
  font-weight: bolder;
  font-family: "Poppins";
  color: #fff;
}

.sec7 .sec7Cont h2 {
  margin-top: 100px;
  font-weight: bold;
  color: #fff;
  font-family: "Poppins";
  opacity: 80%;
}

.sec7 .sec7Cont p {
  color: #fff;
}

.sec7 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.sec7 .row .col {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  text-align: center;
  padding: 50px 0;
  padding-bottom: 30px;
  border-bottom: 5px solid #1f1e1e;
}

.sec7 .row .col h3 {
  color: #1bcfed;
  font-family: "Poppins";
  font-size: 30px;
}

.sec7 .row .col p {
  color: #fff;
}

.sec7 .row .activate {
  border-bottom: 5px solid #1bcfed;
}

body:not(#mech) #mech {
  background-color: rgba(0, 0, 0, 0.3) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.imba {
  margin-top: 100px;
  padding: 0 20px;
  text-align: center;
}

.imba h2 {
  font-size: 120px;
  font-weight: bolder;
  font-family: "Poppins";
  color: #fff;
}

.imba h2 .o {
  color: #1bcfed;
}

.imba h2 .t {
  color: #ec0035;
}

.footerInner {
  width: 1400px;
}

.footerInner footer {
  margin-top: 100px;
  border-top: 1px solid #bac2cc;
  border-bottom: 1px solid #bac2cc;
  padding: 50px 0;
  padding-bottom: 30px;
}

.footerInner footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerInner footer .row .col3 {
  -webkit-box-flex: 25% !important;
      -ms-flex: 25% !important;
          flex: 25% !important;
}

.footerInner footer .row .col {
  -webkit-box-flex: 55%;
      -ms-flex: 55%;
          flex: 55%;
  padding-left: 20px;
}

.footerInner footer .row .col .p {
  margin-right: 8vw;
  color: #fff;
}

.footerInner footer .row .col img {
  width: 100px;
}

.footerInner footer .row .col h1 {
  opacity: 80%;
  font-weight: bold;
  font-family: "Poppins";
  color: #fff;
}

.footerInner footer .row .col h3 {
  opacity: 80%;
  font-weight: bold;
  font-family: "Poppins";
  color: #fff;
}

.footerInner footer .row .col ul {
  list-style: none;
  text-align: left;
  margin-left: -40px;
}

.footerInner footer .row .col ul li {
  display: inline;
  margin-left: 16px;
}

.footerInner footer .row .col ul li a {
  text-decoration: none;
  font-size: 28px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.footerInner footer .row .col ul li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ec0035;
}

.footerInner footer .row .col2 {
  -webkit-box-flex: 20% !important;
      -ms-flex: 20% !important;
          flex: 20% !important;
}

.footerInner footer .row .col2 ul {
  margin-left: -30px;
}

.footerInner footer .row .col2 ul li {
  display: block !important;
  margin: 6px 0;
}

.footerInner footer .row .col2 ul li a {
  font-size: 18px !important;
  color: #fff;
}

.footerInner .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerInner .row2 p {
  color: #fff;
}

.footerInner .row2 .col21 {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  padding: 20px;
  padding-bottom: 0;
}

.footerInner .row2 .col22 {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  padding: 20px;
  padding-bottom: 0;
}

.footerInner .row2 .col22 a {
  text-decoration: none;
  color: #fff;
}

.footerInner .row2 .col22 a:hover {
  color: #ec0035;
}

.up {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 50px;
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
}

.up:hover {
  opacity: 70%;
}

.up a {
  font-size: 34px;
  text-decoration: none;
  color: #fff;
  padding: 23px 15px;
  border-radius: 30px;
  background-color: #ec0035;
}

.up a:hover {
  color: #fff;
}

.disclaimerCont {
  margin-top: 80px;
  text-align: center;
  width: 1400px;
  padding: 20px;
}

.disclaimerCont img {
  width: 200px;
}

@media (max-width: 1500px) {
  .section1 .row .col2 .three {
    top: -800px;
    left: -50px;
  }
}

@media (max-width: 1400px) {
  .section1 .row .col2 .three {
    top: -700px;
  }
  .sec6 .sec6Cont .row .col {
    margin: 0 15px;
    padding: 80px 5px;
  }
  .sec6 .sec6Cont .row .col:first-child {
    margin-left: 0 !important;
  }
  .sec6 .sec6Cont .row .col:last-child {
    margin-right: 0 !important;
  }
}

@media (max-width: 1307px) {
  .section1 .row .col2 .three {
    top: -650px;
    left: 0px;
  }
}

@media (max-width: 1297px) {
  .section1 .row .col2 .three {
    top: -920px;
    left: 480px;
  }
}

@media (max-width: 1250px) {
  .section1 .row .col2 .two {
    top: -280px;
    left: -20px;
  }
  .section1 .row .col2 .three {
    top: -920px;
    left: 400px;
  }
}

@media (max-width: 1200px) {
  nav .uk-navbar-container ul {
    margin-left: -60px;
  }
  .section1 .row .col1 .cont {
    margin-top: 10px;
  }
  .footerInner footer .row .col .p {
    margin-right: 50px;
  }
}

@media (max-width: 1150px) {
  .section1 .row .col2 .three {
    top: -880px;
    left: 380px;
  }
}

@media (max-width: 1100px) {
  .section1 .row .col1 {
    position: relative;
    top: -200px;
  }
  .section1 .row .col2 .one {
    left: 10px;
    top: -500px;
  }
  .section1 .row .col2 .two {
    left: 100px;
  }
  .section1 .row .col2 .three {
    left: 150px;
    top: -1000px;
  }
  .container {
    margin-top: 0px;
  }
}

@media (max-width: 1000px) {
  .sec6 .sec6Cont .row .col {
    margin: 0 10px;
  }
}

@media (max-width: 1100px) {
  nav .uk-navbar-container .uk-navbar-center {
    display: none;
  }
  nav .uk-navbar-container .uk-navbar-right .desktop {
    display: none;
  }
  nav .uk-navbar-container .uk-navbar-right .mobile {
    display: block;
    margin-top: -40px;
  }
  .section1 .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section1 .row .col1 {
    padding: 0 10px;
    margin-top: 30px;
  }
  .section1 .row .col1 .cont {
    padding: 10px;
    margin-top: -20px;
  }
  .section1 .row .col1 .para {
    padding: 0;
  }
  .trailerCont .row {
    display: inline-block;
    width: 100%;
    padding: 0;
  }
  .trailerCont .row .col1 {
    padding: 0;
  }
  .trailerCont .row .col1 video {
    height: 100%;
  }
  .trailerCont .row .col2 {
    padding: 0;
  }
  .trailerCont .row .col2 img {
    margin-top: 35px;
  }
}

@media (max-width: 950px) {
  .section1 .row .col2 .three {
    left: 0px;
    top: -800px;
  }
}

@media (max-width: 900px) {
  .sec5 .sec5Cont .text {
    margin-left: -33px;
  }
}

@media (max-width: 850px) {
  .about {
    background-size: 600px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sec3 {
    margin-top: 0;
  }
  .sec3 .sec3Cont .row {
    display: inline-block;
    margin-top: 10px;
    padding: 0;
  }
  .sec3 .sec3Cont .row .col {
    margin: 20px;
  }
  .sec4 .sec4Cont .row {
    display: inline-block;
  }
  .sec5 {
    margin-top: 0px !important;
  }
  .sec6 .sec6Cont .row {
    display: block;
    margin: 0 20px;
  }
  .sec6 .sec6Cont .row .col {
    margin: 30px 10px;
    padding: 40px 10px;
    background-repeat: no-repeat;
    background-image: url(../assets/cover.png);
  }
  .sec6 .sec6Cont .row .col:first-child {
    margin-left: 10px !important;
  }
  .sec6 .sec6Cont .row .col:last-child {
    margin-right: 10px !important;
  }
  .footerInner footer .row {
    display: inline-block;
    padding-right: 20px;
  }
  .footerInner footer .row .col h3 {
    margin-top: 50px;
  }
  .footerInner footer .row .col .p {
    margin-right: 0;
  }
  .footerInner .row2 {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footerInner .row2 .col21 {
    padding-top: 0;
    margin-top: -10px;
  }
  .footerInner .row2 .col22 {
    text-align: center !important;
  }
}

@media (max-width: 700px) {
  .section1 .row .col2 .one {
    top: -400px;
    left: -10px;
  }
  .section1 .row .col2 .two {
    left: 0px;
  }
  .section1 .row .col2 .three {
    left: -80px;
    top: -600px;
  }
  .about {
    background-size: 300px;
    padding: 120px 20px;
  }
  .sec7 {
    background-size: 300px;
    padding: 120px 20px;
  }
  .sec7 .sec7Cont .nomics {
    padding: 0 0px;
  }
  .sec7 .sec7Cont .m {
    text-align: center;
  }
  .sec7 .sec7Cont .row {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 680px) {
  .sec6 .sec6Cont .row {
    margin: 0 10px;
  }
  .sec6 .sec6Cont .row .col {
    margin: 30px 10px;
  }
}

@media (max-width: 658px) {
  .section1 .row .col1 {
    top: -260px;
  }
  .section1 .row .col2 .three {
    left: 0px;
    top: -650px;
  }
}

@media (max-width: 648px) {
  .section1 .row .col1 {
    top: -370px;
  }
  .section1 .row .col2 .three {
    left: 320px;
    top: -850px;
  }
  .container {
    margin-top: -200px;
  }
}

@media (max-width: 524px) {
  .section1 .row .col1 {
    top: -100px;
  }
  .section1 .row .col2 .one {
    width: 100px;
    top: -250px;
  }
  .section1 .row .col2 .two {
    width: 200px;
    top: -150px;
  }
  .section1 .row .col2 .three {
    left: 20px;
    top: -350px;
    width: 80px;
  }
  .container {
    margin-top: 100px;
  }
}

@media (max-width: 450px) {
  .section1 .row .col1 .cont h1 {
    font-size: 40px;
  }
  .section1 .row .col2 .three {
    left: -30px;
    top: -400px;
  }
  .about .cont {
    padding: 10px 10px;
  }
  .sec4 {
    margin-top: 0;
  }
  .sec4 .sec4Cont .row .col .rowInner .colInner {
    padding: 0;
  }
  .sec4 .sec4Cont .row .col .rowInner .colInner h4 {
    margin-top: 20px;
  }
  .sec6 .sec6Cont .row .col {
    margin: 30px 0;
  }
  .sec6 .sec6Cont .row .col:first-child {
    margin-left: 0px !important;
  }
  .sec6 .sec6Cont .row .col:last-child {
    margin-right: 0px !important;
  }
  .container {
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  .trailerCont .row .col2 a {
    display: block;
    text-align: center;
    padding: 15px 45px;
    border: 1px solid #fff;
    margin: 10px 0;
    border-radius: 8px;
  }
  .trailerCont .row .col2 a:hover {
    background-color: #fff;
    color: #000;
  }
  .trailerCont .row .col2 .a {
    margin-left: 0;
    border: none;
  }
  .trailerCont .row .col2 .a:hover {
    background-color: #ec0035;
    color: #fff;
  }
}

@media (max-width: 398px) {
  .section1 .row .col2 .three {
    left: 0px;
    top: -400px;
    width: 80px;
  }
}

@media (max-width: 388px) {
  .section1 .row .col1 {
    top: -200px;
  }
  .section1 .row .col2 .three {
    left: 220px;
    top: -520px;
  }
  .container {
    margin-top: -20px;
  }
}

@media (max-width: 330px) {
  .section1 .row .col1 .cont h1 {
    font-size: 38px;
  }
}
/*# sourceMappingURL=style.css.map */